.columns-2.plvc table.wp-list-table thead tr th .show-field .column-toggle {
	background: transparent url('../../../wp-admin/images/arrows.png') no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	display: block;
	overflow: hidden;
	text-indent: -9999em;
	top: 0;
	right: 0;
	cursor: pointer;
}
.columns-2.plvc table.wp-list-table thead tr th .show-field .column-toggle:hover {
	background-image: url('../../../wp-admin/images/arrows-dark.png');
}
.columns-2.plvc table.wp-list-table.widefat thead tr.widgets-sortables th.widget-placeholder {
	border-width: 1px;
	background: #F6FAFC;
	border-color: gray;
}



.columns-2.plvc table.wp-list-table thead tr th.plugin,
.columns-2.plvc table.wp-list-table thead tr th.custom_field,
.columns-2.plvc table.menu-lists tr.plugin th,
.columns-2.plvc table.menu-lists tr.plugin td,
.columns-2.plvc table.menu-lists tr.custom_post th,
.columns-2.plvc table.menu-lists tr.custom_post td,
.columns-2.plvc table.menu-lists tr.custom_taxonomy th,
.columns-2.plvc table.menu-lists tr.custom_taxonomy td {
	color: #222;
}
.columns-2.plvc table.wp-list-table thead tr th.plugin .edit-field .description,
.columns-2.plvc table.wp-list-table thead tr th.plugin .edit-field .remove-action a,
.columns-2.plvc table.wp-list-table thead tr th.custom_field .edit-field .description,
.columns-2.plvc table.wp-list-table thead tr th.custom_field .edit-field .remove-action a,
.columns-2.plvc table.menu-lists tr.plugin td .description,
.columns-2.plvc table.menu-lists tr.custom_post td .description,
.columns-2.plvc table.menu-lists tr.custom_taxonomy td .description {
	color: #666;
}
.columns-2.plvc table.wp-list-table thead tr th.plugin {
	border-color: #CFE1EF;
}
.columns-2.plvc table.wp-list-table thead tr th.plugin,
.columns-2.plvc table.menu-lists tr.plugin th,
.columns-2.plvc table.menu-lists tr.plugin td {
	background: #E2EDF5;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#E2EDF5),to(#F4F8FB));
	background-image: -webkit-linear-gradient(bottom,#E2EDF5,#F4F8FB);
	background-image: -moz-linear-gradient(bottom,#E2EDF5,#F4F8FB);
	background-image: -o-linear-gradient(bottom,#E2EDF5,#F4F8FB);
	background-image: linear-gradient(to top,#E2EDF5,#F4F8FB);
}
.columns-2.plvc table.wp-list-table thead tr th.custom_field {
	background: #F8E1E7;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#F8E1E7),to(#FCF5F7));
	background-image: -webkit-linear-gradient(bottom,#F8E1E7,#FCF5F7);
	background-image: -moz-linear-gradient(bottom,#F8E1E7,#FCF5F7);
	background-image: -o-linear-gradient(bottom,#F8E1E7,#FCF5F7);
	background-image: linear-gradient(to top,#F8E1E7,#FCF5F7);
}
.columns-2.plvc table.menu-lists tr.custom_post th,
.columns-2.plvc table.menu-lists tr.custom_post td {
	background: #FCEADD;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#FCEADD),to(#FDF7F2));
	background-image: -webkit-linear-gradient(bottom,#FCEADD,#FDF7F2);
	background-image: -moz-linear-gradient(bottom,#FCEADD,#FDF7F2);
	background-image: -o-linear-gradient(bottom,#FCEADD,#FDF7F2);
	background-image: linear-gradient(to top,#FCEADD,#FDF7F2);
}
.columns-2.plvc table.menu-lists tr.custom_taxonomy th,
.columns-2.plvc table.menu-lists tr.custom_taxonomy td {
	background: #E0F7E0;
	background-image: -webkit-gradient(linear,left bottom,left top,from(#E0F7E0),to(#F3FCF3));
	background-image: -webkit-linear-gradient(bottom,#E0F7E0,#F3FCF3);
	background-image: -moz-linear-gradient(bottom,#E0F7E0,#F3FCF3);
	background-image: -o-linear-gradient(bottom,#E0F7E0,#F3FCF3);
	background-image: linear-gradient(to top,#E0F7E0,#F3FCF3);
}



body.mp6 .columns-2.plvc table.wp-list-table thead tr th.plugin,
body.mp6 .columns-2.plvc table.menu-lists tr.plugin th,
body.mp6 .columns-2.plvc table.menu-lists tr.plugin td {
	color: #fff;
	background: #098DAE;
}
body.mp6 .columns-2.plvc table.wp-list-table thead tr th.custom_field {
	color: #fff;
	background: #9F293A;
}
body.mp6 .columns-2.plvc table.menu-lists tr.custom_post th,
body.mp6 .columns-2.plvc table.menu-lists tr.custom_post td {
	color: #fff;
	background: #F47400;
}
body.mp6 .columns-2.plvc table.menu-lists tr.custom_taxonomy th,
body.mp6 .columns-2.plvc table.menu-lists tr.custom_taxonomy td {
	color: #fff;
	background: #3BA610;
}






.plvc .toggle-width .collapse-sidebar {
	width: 19px;
	height: 19px;
	z-index: 50;
	border-radius: 50%;
	position: relative;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
}
.plvc .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	position: absolute;
	margin-top: 2px;
	margin-left: 2px;
	display: block;
	width: 15px;
	height: 15px;
	background: transparent url('../../../wp-admin/images/arrows.png') no-repeat;
	left: 0;
}
.columns-2.plvc .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -109px;
}
.columns-2.plvc.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow {
	background-position: -1px -73px;
}
.columns-2.plvc .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	border-radius: none;
	float: none;
	content: none;
	font: san-serif;
}
.columns-2.plvc.full-width .toggle-width .collapse-sidebar .collapse-sidebar-arrow:before {
	transform: inherit;
}
.columns-2.plvc .toggle-width .collapse-sidebar .collapse-sidebar-label {
	position: absolute;
	left: 100%;
	color: #808080;
	line-height: 20px;
	margin-left: 10px;
}
