.columns-2.plvc #postbox-container-1 {
	width: 60%;
}
.columns-2.plvc #postbox-container-2 {
	width: 38%;
	margin-left: 2%;
}
.plvc .postbox-container .postbox .hndle {
	cursor: default; 	
}


.plvc .postbox-container #donationbox {
	background: #87BCE4;
	border: 3px solid #227499;
}
.plvc .postbox-container #donationbox .inside {
	padding: 6px 10px 10px 10px;
}
.plvc .postbox-container #donationbox .inside .donation_memo {
	background: #FFF8D9;
	padding: 2px 10px;
}


form#post_lists_view_custom_form table td div#use,
form#post_lists_view_custom_form table td div#not_use {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
form#post_lists_view_custom_form table td div#use div.widget,
form#post_lists_view_custom_form table td div#not_use div.widget {
	width: 200px;
	float: left;
	margin: 0 14px 20px 0;
	height: auto;
}
form#post_lists_view_custom_form table td div#use .widget-placeholder,
form#post_lists_view_custom_form table td div#not_use .widget-placeholder {
	background-color: #FFF8D9;
	display: inline-block;
	float: left;
	width: 220px;
	margin-right: 14px;
}



body.edit-php table.wp-list-table th#excerpt,
body.edit-php table.wp-list-table th#post-formats,
body.edit-php table.wp-list-table th#tags,
body.edit-php table.wp-list-table th#comments,
body.edit-php table.wp-list-table th#categories,
body.edit-php table.wp-list-table th#author
{
	width: auto;
}
body.edit-php table.wp-list-table th#post-thumbnails,
body.edit-php table.wp-list-table th#id {
	width: 60px;
}


body.upload-php table.wp-list-table th#parent,
body.upload-php table.wp-list-table th#comments,
body.upload-php table.wp-list-table th#author
{
	width: auto;
}
body.upload-php table.wp-list-table th#post-thumbnails,
body.upload-php table.wp-list-table th#id {
	width: 60px;
}
